<h1>This is about us page</h1>
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <nav>
        <ul>
            <li><a href="/user/home">Home</a></li>
            <li><a href="/user/country">Country</a></li>
            <li><a href="/user/games">Games</a></li>
            <li><a href="/user/about">About Us</a></li>
            <li><a href="/user/faq">FAQ</a></li>
        </ul>
    </nav>
</body>

</html>
