<!DOCTYPE html>
<html lang="en">

<head>
    <link href= '/static/style.css' rel='stylesheet' type='text/css' />
  </head>
  <body>
  

    <div class="nav-bar">
        <nav>
            <h2 class="logo">Travel <span>Website </span> </h2>
            <ul>
                <li><a href="/user/home">Home</a></li>
                <li class="dropdown">
                  <a href="/user/country">Country</a>
                  <ul class="dropdown-menu">
                      <li><a href="/user/country/usa">USA</a></li>
                      <li><a href="/user/country/mexico">Mexico</a></li>
                      <li><a href="/user/country/france">France</a></li>
                      <li><a href="/user/country/italy">Italy</a></li>
                      <li><a href="/user/country/china">China</a></li>
                      <li><a href="/user/country/germany">Germany</a></li>
                      <li><a href="/user/country/spain">Spain</a></li>
                      <li><a href="/user/country/turkey">Turkey</a></li>
                      <li><a href="/user/country/thailand">Thailand</a></li>
                      <li><a href="/user/country/UK">UK</a></li>
                  </ul>
              </li>
              <li><a href="/user/home2">Stories</a></li>
                <li><a href="/user/games">Games</a></li>
                <li><a href="/user/about">About Us</a></li>
                <li><a href="/user/faq">FAQ</a></li>
                <i class="fas fa-search"></i>
                <button type="button" class="sign-up">Sign up</button>
                <button type="button" class="login">Login</button>
            </ul>

        </nav>
    </div>

  <div class="container">
    <div class="content">
      <img src="/China.jpg" alt="China"class="full-width-image">
      <h2>CHINA</h2>
      <p> beneath the ageless stretch of the Great Wall, China's intricate blend of culture, history, and advancement intertwines into a lively and magnificent country, serving as a tribute to the unyielding essence of human achievement.</p>
      
      <nav class="anchors">
        <ul>
          <li><a href="#dangerous-wildlife">Dangerous Wild Life</a></li>
          <li><a href="#natural-disasters">Natural Disasters</a></li>
          <li><a href="#tourist-precautions">Tourist Precautions</a></li>
          <li><a href="#etiquette">Etiquette</a></li>
        </ul>
      </nav>
    
    <section id="dangerous-wildlife" class="section">
      <h3>Dangerous Wild Life</h3>
      <h1>Asian Giant Hornet</h1>
      <img src="/giant_hornet.jpg" alt="asian_hornet" class="smaller-image">
      <p>The Asian giant hornet (Vespa mandarinia) is a formidable insect found in various parts of China, it can grow up to two inches in length. Despite known not to be aggresive towards human, There were cases of it and the sting itself generate quite painful experience.

      </p>
    <a href="#" class="read-more">Read Full Post</a>
    <div class="full-content">
      <p>These hornets are known to be active during the warmer months and are most commonly found in rural and forested areas.
          Staying calm and moving slowly in the situation of encounter could really help you get out of it. Do no hit or swat the hornet as it will activate their defense mechanism.
          If you have been stung by it, seek medical help as soon as possible as it could cause severe allergic reaction.

      </p>
    </div>
    <h1>Mosquito and Ticks</h1>
        <img src="/mos_ticks.png" alt="Mosquito and Ticks" class="smaller-image">
      <p> Eventhough they are small and normally harmless, mosquito and ticks can pose dangerous health risk in most region of China. Mosquito could carry Zika virus which pose serious threat for us, and Tick could carry the Lyme diseases.
          

      </p>
    <a href="#" class="read-more">Read Full Post</a>
    <div class="full-content">
      <p>It is recommended to wear long sleeve shirt and wear light-colored clothing to make it easier to spot mosquito and tick. Bed net is also a suggestion to protect againts mosquito while you sleep.
        If you are bringing your pet, its suggested to protect using tick prevention products.</p>
    </div>
   </section>
   <section id="natural-disasters" class="section">      
  <h3>Natural Disasters</h3>
  <h1>Floods</h1>
      <img src="/floodChina.jpg" alt="flood" class="smaller-image">
      <p> China is prone to both river and coastal flooding due to its diverse geography, including vast river systems and extensive coastlines. Several factors contribute to the prevalence of flooding in the country, including heavy monsoon rains, rapid urbanization, deforestation, and topography that can lead to river blockages. 
        China has invested in various flood control and mitigation measures, such as building dams, levees, and reservoirs. However, despite these efforts, flooding remains a significant challenge, impacting both rural and urban areas and causing displacement, property damage, and loss of life.       
      </p>

    <a href="#" class="read-more">Read Full Post</a>
    <div class="full-content">
      <p> Keep track of weather forecasts, flood alerts, and warnings issued by local authorities through news sources, radio, or weather apps. It is also important to create a just-in-case plan to counter the flood. 
          During a flood it is advised to move to higher sturdy ground. Do not try to walk through floodwater because we may not know the depth of it. Staying informed of the next action to do is important in the event of flood.
          After the flood remember to disinfect everything as floodwater could carry lots of bacteria and virus. Seek professional help if required. 


      </p>
    </div>
    <h1>Earthquakes</h1>
        <img src="/earthquakeChina.jpg" alt="earthquake" class="smaller-image">
      <p> China is located in a seismically active region due to its location near the boundary of the Eurasian and Indian tectonic plates. This geological setting makes the country prone to experiencing earthquakes of varying magnitudes.
        One of the most devastating earthquakes in recent memory was the 2008 Sichuan earthquake, also known as the Wenchuan earthquake, which had a magnitude of 7.9. This earthquake caused widespread destruction and led to significant humanitarian efforts to aid the affected regions.

      </p>
    <a href="#" class="read-more">Read Full Post</a>
    <div class="full-content">
      <p>
         It is important to secure the nearby furniture if possible as it will decrease the chance of it falling to you during an earthquake. Make sure to check the safe spot incase of the event, and do a practice drill.
         Do not panic in the event of earthquake, stay calm and evacuate if possible. if not, go under a sturdy desk or table and avoid windows.
      </p>
    </div>
   </section>
   <section id="tourist-precautions" class="section">
        <h3>Tourist Precautions</h3>
        <h1>Illegal Taxi</h1>
      <img src="/taxiChina.jpg" alt="Directions on narrow and steep walkways" class="smaller-image">
      <p>
        illegal taxi services, often referred to as "black taxis," have been a concern in various parts of China. These unauthorized taxi services operate outside the legal framework and regulations established by local transportation authorities. They often lack proper licensing, insurance, and safety measures, which can pose risks to both passengers and drivers.
        Passengers using illegal taxis may be at risk due to the absence of safety standards and proper driver training. In case of accidents, passengers might not have access to proper insurance coverage or legal recourse.
        
      </p>
    <a href="#" class="read-more">Read Full Post</a>
    <div class="full-content">
      <p>Do not be afraid to ask the local regarding the transportation, who knows better than the people who live there. Do your own research about the illegal taxi criteria and trust your insting on it.</p>
    </div>
    <h1>Tap Water</h1>
        <img src="/tapWaterChina.jpg" alt="Littering" class="smaller-image">
      <p> Tap water safety can vary across different regions of China. In some areas, tap water is safe for drinking, while in others, it's recommended to drink bottled or boiled water. 
          We recommend you not to drink the tap water in every regions of China, boil it first or buy bottled water.
      </p>
    <a href="#" class="read-more">Read Full Post</a>
    <div class="full-content">
      <p> accidental drinking of tap water could cause diarrhea, if this happen please seek professional helps. If you prefer drinking tap water, ask the locals about the region that you are staying at, tap water quality tends 
        to be better in larger developed city.

      </p>
    </div>
   </section>
   <section id="etiquette" class="section">
        <h3>Etiquette</h3>
        <h1>Greetings</h1>
      <img src="/receivingChina.jpg" alt="Greeting" class="smaller-image">
      <p> 
        in China, observing proper greetings and practicing politeness holds significant cultural importance. When addressing individuals, it's customary to use their last name followed by their title, such as "Mr." or "Miss." Initial interactions often involve a handshake, nod, or slight bow, depending on the context. Presenting or receiving items, like business cards, is done with both hands to convey respect. Maintaining appropriate eye contact while 
        conversing and showing genuine interest in others' well-being and experiences are valued gestures. Using formal language and titles, especially when addressing elders or professionals, is a sign of respect. Embracing these customs demonstrates your appreciation for Chinese culture and can foster positive relationships during your time in the country.
      </p>
    <a href="#" class="read-more">Read Full Post</a>
    <div class="full-content">
      <p>Tipping culture is not common in China, in restaurants, service charges is included in the bill. Another thing to look out is the language that we use. 
          Do not use informal language when interacting with the locals.  
      </p>
    </div>
    <h1> Body Language</h1>
        <img src="/bodylangChina.jpg" alt="Religious Sites" class="smaller-image">
      <p>
        Non-verbal communication carries considerable weight, body language serves as a powerful means of expression. One particular aspect of this is the practice of refraining from pointing with the index finger, which is widely regarded as impolite. Instead, the Chinese opt for more respectful and subtle gestures. Rather than pointing directly, individuals often employ an open hand, using the entire hand or a gentle wave to indicate a direction or object of interest. 
      </p>
    <a href="#" class="read-more">Read Full Post</a>
    <div class="full-content">
      <p> 
        This way of communicating reflects a sense of togetherness and prevents any unintended misunderstandings. Another common option is nodding in the direction you're indicating, which is well understood. This custom shows how much importance is placed on cultural awareness, emphasizing the significance of conveying thoughts thoughtfully and respectfully. Incorporating these nuances into your body language not only improves your communication but also displays your regard for local traditions.
      </p>
    </div>
    </section>
    
   
    
  </div>
  <script>
  document.addEventListener("DOMContentLoaded", function() {
    const readMoreLinks = document.querySelectorAll(".read-more");
    const fullContents = document.querySelectorAll(".full-content"); 
  
    readMoreLinks.forEach((readMoreLink, index) => {
      readMoreLink.addEventListener("click", function(event) {
        event.preventDefault();
        fullContents[index].style.display = "block";
        readMoreLink.style.display = "none";
      });
    });
  });
  </script>
  </body>





</html>
