<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="/static/ind-story-page.css">
</head>
</head>
<body>
    <div class="nav-bar">
        <nav>
            <h2 class="logo">Travel <span>Website</span> </h2>
            <ul>
                    <li><a href="/user/home">Home</a></li>
                    <li class="dropdown">
                        <a>Country</a>
                        <ul class="dropdown-menu">
                            <li><a href="/user/country/usa">USA</a></li>
                            <li><a href="/user/country/mexico">Mexico</a></li>
                            <li><a href="/user/country/france">France</a></li>
                            <li><a href="/user/country/italy">Italy</a></li>
                            <li><a href="/user/country/china">China</a></li>
                            <li><a href="/user/country/germany">Germany</a></li>
                            <li><a href="/user/country/spain">Spain</a></li>
                            <li><a href="/user/country/turkey">Turkey</a></li>
                            <li><a href="/user/country/thailand">Thailand</a></li>
                            <li><a href="/user/country/UK">UK</a></li>
                        </ul>
                    </li>
                    <li><a href="/user/home2">Stories</a></li>
                    <li><a href="/user/games">Games</a></li>
                    <li><a href="/user/about">About Us</a></li>
                    <li><a href="/user/faq">FAQ</a></li>
                    
            </ul>

        </nav>
    </div>
    <div class="input-form">
        <h1>Story Form</h1>
        <form action="add-story" method="post">
            <label for="title">Title</label>
            <input type="text" id="title" name="title" value="" required>
            
            <label for="name">Name</label>
            <input type="text" id="name" name="name" value="" required>
            
            <label for="body">Body</label>
            <textarea class="submit-body" rows="10" id="body" name="body" value="" required></textarea>
            
            <button type="submit" name="button" value="<%= country %>">Submit</button>
        </form>

        <div class="decor">
            <img class="" src="../img/story-submission.jpg" alt="">
        </div>
    </div>
    
    

</body>



</html>