<!DOCTYPE html>
<html lang="en">

<head>
    <link href= '/static/style.css' rel='stylesheet' type='text/css' />
  </head>
  <body>
  

    <div class="nav-bar">
        <nav>
            <h2 class="logo">Travel <span>Website</span> </h2>
            <ul>
                <li><a href="/user/home">Home</a></li>
                <li class="dropdown">
                  <a href="/user/country">Country</a>
                  <ul class="dropdown-menu">
                      <li><a href="/user/country/usa">USA</a></li>
                      <li><a href="/user/country/mexico">Mexico</a></li>
                      <li><a href="/user/country/france">France</a></li>
                      <li><a href="/user/country/italy">Italy</a></li>
                      <li><a href="/user/country/china">China</a></li>
                      <li><a href="/user/country/germany">Germany</a></li>
                      <li><a href="/user/country/spain">Spain</a></li>
                      <li><a href="/user/country/turkey">Turkey</a></li>
                      <li><a href="/user/country/thailand">Thailand</a></li>
                      <li><a href="/user/country/UK">UK</a></li>
                  </ul>
              </li>
              <li><a href="/user/home2">Stories</a></li>
                <li><a href="/user/games">Games</a></li>
                <li><a href="/user/about">About Us</a></li>
                <li><a href="/user/faq">FAQ</a></li>
                <i class="fas fa-search"></i>
                <button type="button" class="sign-up">Sign up</button>
                <button type="button" class="login">Login</button>
            </ul>

        </nav>
    </div>

  <div class="container">
    <div class="content">
      <img src="/france.jpg" alt="UK"class="full-width-image">
      <h2>France</h2>
      <p>France is a country that offers a rich diversity of landscapes, culture, history and cuisine. Whether you are looking for romance in Paris, art and architecture in Lyon, wine and gastronomy in Bordeaux, or sun and sea in Nice, you will find something to suit your taste and budget. France has a long and proud heritage that can be seen in its monuments, museums, castles and cathedrals. You can also explore the natural beauty of the country, from the Alps to the Pyrenees, from the Loire Valley to the Côte d'Azur. France is a destination that will enchant you with its charm and elegance.</p>
      
      <nav class="anchors">
        <ul>
          <li><a href="#dangerous-wildlife">Dangerous Wild Life</a></li>
          <li><a href="#natural-disasters">Natural Disasters</a></li>
          <li><a href="#tourist-precautions">Tourist Precautions</a></li>
          <li><a href="#etiquette">Etiquette</a></li>
        </ul>
      </nav>
    
    <section id="dangerous-wildlife" class="section">
      <h3>Dangerous Wild Life</h3>
      <h1>Wolves</h1>
      <img src="/wolvesFrance.jpg" alt="Wild Boar" class="smaller-image">
      <p>Wolves are found in the southeast and eastern regions of France, especially in the Alps and the Pyrenees. They are shy and fearful of humans, and attacks are very rare. </p>
    <a href="#" class="read-more">Read Full Post</a>
    <div class="full-content">
      <p>However, they can be aggressive if they feel threatened or if they are protecting their territory or pups. To avoid encountering wolves, stay on marked trails, keep your distance from any signs of wolf activity, and do not feed or approach them. If you see a wolf, do not run or turn your back, but stand tall, make noise, and slowly back away.</p>
    </div>
    <h1>Asp vipers</h1>
        <img src="/aspViperFrance.jpg" alt="Ticks" class="smaller-image">
      <p> Asp vipers are venomous snakes that live in rocky areas and dry grasslands in southern France. They are brown or grey with dark zigzag patterns on their backs and can grow up to 80 cm long.</p>
    <a href="#" class="read-more">Read Full Post</a>
    <div class="full-content">
      <p>They are active during the day and hunt by ambushing their prey. Their venom can cause severe pain, swelling, bleeding, and tissue damage. To avoid asp vipers, wear long pants and boots when hiking, watch where you step or sit, and do not touch or disturb any snakes. If you are bitten by an asp viper, seek medical attention immediately.</p>
    </div>
   </section>
   <section id="natural-disasters" class="section">      
  <h3>Natural Disasters</h3>
  <h1>Floods</h1>
      <img src="/floodFrance.jpg" alt="Tornedoes" class="smaller-image">
      <p>Floods can happen anywhere in France, but some of the most affected areas are the French Riviera, Bordeaux, and the Atlantic coast.</p>
    <a href="#" class="read-more">Read Full Post</a>
    <div class="full-content">
      <p>Floods can cause damage to property, infrastructure, and transportation, as well as injuries and deaths. To prevent floods, France has invested in improving its flood defences, such as dams, dikes, and levees. However, these defences are not always sufficient or well-maintained, and some areas are still vulnerable to flooding. </p>
    </div>
    <h1>Heat waves</h1>
        <img src="/heatWaveFrance.jpg" alt="storms" class="smaller-image">
      <p> Heat waves are becoming more frequent and intense in France due to climate change. Heat waves can cause dehydration, heat exhaustion, heat stroke, and death.</p>
    <a href="#" class="read-more">Read Full Post</a>
    <div class="full-content">
      <p> Heat waves can also increase the risk of wildfires or droughts. The most affected areas by heat waves are the urban areas and the south of France. To prevent heat waves, France has a heat wave plan that activates when the temperature exceeds a certain threshold for several days. The plan includes providing information and advice to the public, opening cooling centres and shelters, distributing water bottles and fans, and reducing greenhouse gas emissions. </p>
    </div>
   </section>
   <section id="tourist-precautions" class="section">
        <h3>Tourist Precautions</h3>
        <h1>Local laws and customs</h1>
      <img src="/lawFrance.jpg" alt="Queuing Etiquette" class="smaller-image">
      <p> France has some laws and customs that may be different from your home country. You should always carry a photo ID with you, such as your passport, as the police may conduct random checks.</a> </p>
    <a href="#" class="read-more">Read Full Post</a>
    <div class="full-content">
      <p> You must also stop to help if you witness an accident or someone asks for help, unless doing so will put you or others in danger. It is illegal to cover your face in public places or force someone else to do so. This includes wearing masks, helmets, burqas, niqabs, or other face-covering garments. It is also illegal to photograph security forces, such as the police or the military. You may face fines or imprisonment if you break these laws.</p>
    </div>
    <h1>Terrorism and security</h1>
        <img src="/terrorisimFrance.jpg" alt="Mind the Gap" class="smaller-image">
      <p> France has a medium level of threat from terrorism, and attacks could happen anywhere and at any time. </p>
    <a href="#" class="read-more">Read Full Post</a>
    <div class="full-content">
      <p> You should be vigilant and alert in public places, especially those that are crowded or frequented by tourists, such as monuments, museums, markets, transport hubs, and religious sites. You should also avoid demonstrations and protests, as they may turn violent and result in clashes with the police. If you hear or see anything suspicious, report it to the authorities immediately.</p>
    </div>
   </section>
   <section id="etiquette" class="section">
        <h3>Etiquette</h3>
        <h1>Dining</h1>
      <img src="/diningFrance.jpg" alt="Football enthusiasm" class="smaller-image">
      <p>Dining is an important part of French culture, and there are some etiquette rules that you should follow when eating out or being invited to someone home. </p>
    <a href="#" class="read-more">Read Full Post</a>
    <div class="full-content">
      <p>You should always wait for the host to say “Bon appétit” (enjoy your meal) before starting to eat, and not use this phrase yourself as it may be considered rude1. You should keep your hands visible on the table, but not your elbows. You should use the cutlery from the outside in, and place them parallel on your plate when you are finished. You should not cut your bread, but break it with your fingers. You should not eat too fast or too slow, and finish everything on your plate. You should not ask for a doggy bag, as it is not common in France. You should also compliment the food and the host, and offer to help with the dishes.</p>
    </div>
    <h1>Gifts</h1>
        <img src="/giftFrance.jpg" alt="Photography of People" class="smaller-image">
      <p>If you are invited to someone’s home for a meal or a party, it is customary to bring a small gift for the host, such as a bottle of wine, a box of chocolates, or a bouquet of flowers. </p>
    <a href="#" class="read-more">Read Full Post</a>
    <div class="full-content">
      <p> However, you should be careful with your choice of flowers, as some may have negative meanings in French culture. For example, you should avoid giving chrysanthemums, as they are associated with death and funerals. You should also avoid giving red roses, as they imply romantic interest. You should also avoid giving an even number of flowers, as it is considered bad luck. Instead, you should give an odd number of flowers, except 13.</p>
    </div>
    </section>
    
   
    
  </div>
  <script>
  document.addEventListener("DOMContentLoaded", function() {
    const readMoreLinks = document.querySelectorAll(".read-more");
    const fullContents = document.querySelectorAll(".full-content"); 
  
    readMoreLinks.forEach((readMoreLink, index) => {
      readMoreLink.addEventListener("click", function(event) {
        event.preventDefault();
        fullContents[index].style.display = "block";
        readMoreLink.style.display = "none";
      });
    });
  });
  </script>
  </body>





</html>
