<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link href= '/static/games.css' rel='stylesheet' type='text/css' />
    <link rel="stylesheet" href="/static/style.css">

</head>
<body>
    <div class="nav-bar">
        <nav>
            <h2 class="logos">  <a href="/user/home"><img src="/LOGO.jpg" alt="Travel Website Logo" style="width: 186px; height: 51px;"></a>  </h2>
            <ul>
                <li><a href="/user/home">Home</a></li>
                <li class="dropdown">
                    <a>Country</a>
                    <ul class="dropdown-menu">
                        <li><a href="/user/country/usa">USA</a></li>
                        <li><a href="/user/country/mexico">Mexico</a></li>
                        <li><a href="/user/country/france">France</a></li>
                        <li><a href="/user/country/italy">Italy</a></li>
                        <li><a href="/user/country/china">China</a></li>
                        <li><a href="/user/country/germany">Germany</a></li>
                        <li><a href="/user/country/spain">Spain</a></li>
                        <li><a href="/user/country/turkey">Turkey</a></li>
                        <li><a href="/user/country/thailand">Thailand</a></li>
                        <li><a href="/user/country/UK">UK</a></li>
                    </ul>
                </li>
                <li><a href="/user/home2">Stories</a></li>
                <li><a href="/user/games">Games</a></li>
                <li><a href="/user/about">About Us</a></li>
                <li><a href="/user/faq">FAQ</a></li>
                
            </ul>

        </nav>
    </div>
    <img src="/gamewallpaper.jpg"/>
    <div class="games">
    
    <h1>GAMES</h1>

 
    <div id="container">
    <a href="https://team-100-agile.github.io/earthquake/"><img src="/earthquakeimg.png"/></a>
    <figcaption> <b>EARTHQUAKE</b> </figcaption>
    </div>
   
    <div id="container">
    <a href="https://team-100-agile.github.io/Tsunami/"><img src="/tsunami.png"/></a>
    <figcaption>  <b>TSUNAMI</b> </figcaption>
    </div>

    <div id="container">
        <a href="https://team-100-agile.github.io/Tornado/"><img src="/tornado2.png"/></a>
        <figcaption>  <b>TORNADO</b> </figcaption>
        </div>

    <div id="container">
        <a href="/user/WildfireNovel"><img src="/Wildfire.jpg"/></a>
        <figcaption>  <b>Wildfire</b> </figcaption>
        </div>

    </div>

</body>



</html>
