<!DOCTYPE html>
<html lang="en">

<head>
    <link href= '/static/style.css' rel='stylesheet' type='text/css' />
  </head>
  <body>
  

    <div class="nav-bar">
        <nav>
            <h2 class="logo">Travel <span>Website</span> </h2>
            <ul>
                <li><a href="/user/home">Home</a></li>
                <li class="dropdown">
                  <a href="/user/country">Country</a>
                  <ul class="dropdown-menu">
                      <li><a href="/user/country/usa">USA</a></li>
                      <li><a href="/user/country/mexico">Mexico</a></li>
                      <li><a href="/user/country/france">France</a></li>
                      <li><a href="/user/country/italy">Italy</a></li>
                      <li><a href="/user/country/china">China</a></li>
                      <li><a href="/user/country/germany">Germany</a></li>
                      <li><a href="/user/country/spain">Spain</a></li>
                      <li><a href="/user/country/turkey">Turkey</a></li>
                      <li><a href="/user/country/thailand">Thailand</a></li>
                      <li><a href="/user/country/UK">UK</a></li>
                  </ul>
              </li>
                <li><a href="/user/games">Games</a></li>
                <li><a href="/user/about">About Us</a></li>
                <li><a href="/user/faq">FAQ</a></li>
                <i class="fas fa-search"></i>
                <button type="button" class="sign-up">Sign up</button>
                <button type="button" class="login">Login</button>
            </ul>

        </nav>
    </div>

  <div class="container">
    <div class="content">
      <img src="/thailand.jpg" alt=""class="full-width-image">
      <h2>Thailand</h2>
      <p>Thailand, country located in the center of mainland Southeast Asia. It is wholly within the tropics and encompasses diverse ecosystems.</p>
      
      <nav class="anchors">
        <ul>
          <li><a href="#dangerous-wildlife">Dangerous Wild Life</a></li>
          <li><a href="#natural-disasters">Natural Disasters</a></li>
          <li><a href="#tourist-precautions">Tourist Precautions</a></li>
          <li><a href="#etiquette">Etiquette</a></li>
        </ul>
      </nav>
    
    <section id="dangerous-wildlife" class="section">
      <h3>Dangerous Wild Life</h3>


      <h1>Giant centipedes</h1>
      <img src="/centipede.jpg" alt="" class="smaller-image">
      <p>Giant centipedes can be found in Thailand’s urban spaces as well as forests. These giant centipedes can grow enormous, and if it rains heavily, they are like to come indoors to avoid drowning – if the centipedes can’t escape, they will bite. The centipede’s bite doesn’t kill but can cause serious pain.</p>
    <a href="#" class="read-more">Read Full Post</a>
    <div class="full-content">
      <p>Thailand is home to poisonous snakes, scorpions, centipedes as well as jellyfish – but the centipede is probably the hardest to spot. These centipedes include the Asian forest centipede and the Chinese red-headed centipede – they can all be found in damp places, so best to avoid. Their bite is similar to a snake’s.</p>
    </div>


    <h1>Deadly coral</h1>
        <img src="/coral.webp" alt="" class="smaller-image">
      <p>Deadly coral in coastal waters is also a dangerous animal in Thailand, as they can be razor-sharp and can cause nasty cuts. </p>
    <a href="#" class="read-more">Read Full Post</a>
    <div class="full-content">
      <p>Living coral can actually cause poisonous stings similar to jellyfish. The waters of  the Thailand coast are home to some seriously dangerous sea creatures.</p>
    </div>
   </section>


   <section id="natural-disasters" class="section">      
  <h3>Natural Disasters</h3>
  <h1>Tsunami</h1>
      <img src="/tsunami.jpg" alt="" class="smaller-image">
      <p>Thailand was one of the countries hardest hit by the Boxing Day earthquake and tsunami in the Indian Ocean, particularly the areas of Khao Lak, Phuket and Phang Nga.</p>
    <a href="#" class="read-more">Read Full Post</a>
    <div class="full-content">
      <p>The village of Khao Lak received no warnings of the first wave and so saw at least as many as 3,950 deaths, including that of the grandson of HM King Bhumibol. 4,812 deaths in Thailand were confirmed altogether from the disaster (although authorities guess that this could be closer to 8,150 in actuality), as well as 8,458 injured and 4,499 missing.</p>
    </div>



    <h1>Floods</h1>
        <img src="/floods.png" alt="" class="smaller-image">
      <p>Thailand is one of the many countries in the world that has a tropical climate. Monsoons are normal during the rainy months and, because of this, floods are common throughout Thailand. Cities like Chiang Mai have had severe floods in the last few years, with main streets in the city having to be sandbagged. Bangkok too floods every year although the flooding usually drains within an hour or so of the rain stopping.</p>
    <a href="#" class="read-more">Read Full Post</a>
    <div class="full-content">
      <p>Almost every year, several people are killed in Thailand during the rainy season. A few years ago, a group of tourists died after they went into a cave system in the south to shelter from the rain. The cave flooded and they drowned. For most visitors to Thailand, natural disasters like floods are not of paramount urgency however. Simply stay inside when the rain starts, don’t try to drive down flooded streets and use some common sense. It’s not likely flooding in Thailand would overly affect you, particularly in tourist areas.</p>
    </div>
   </section>


   <section id="tourist-precautions" class="section">
        <h3>Tourist Precautions</h3>
        <h1>Tuk-tuk or tour bus scam</h1>
      <img src="/tuktuk.webp" alt="" class="smaller-image">
      <p>In some areas tuk-tuk drivers, taxis, and tour bus companies are hired to take tourists to certain shops, restaurants, and malls to purchase items or services instead of their requested destinations. These scams can be a nuisance for time-pressed travellers and those who wish to maximise their time sight-seeing, and can cause anxiety for travellers who do not know where they are or how to get back to their hotel.</p>
    <a href="#" class="read-more">Read Full Post</a>
    <div class="full-content">
      <p>Always give exact instructions as to where you want to be taken and decline offers to be taken on a sight-seeing route for a few extra baht, as you may find yourself being taken to a gems store instead.  Less than reputable tour buses may not visit requested locations or refuse to drop you off at your hotel as promised, so be sure to get advice when choosing a company to use. Sticking to public transportation systems and metered taxis can help you avoid this scam.</p>
    </div>

    <h1>Jet ski and scooter scams</h1>
        <img src="/jetski.jpg" alt="" class="smaller-image">
      <p>Jet ski and scooter scams occur most often in popular beach destinations like Phuket and Pattaya. When you rent one of their vehicles, companies often demand your passport (it is not recommended to leave your passport with a vendor to use as collateral) and/or a deposit fee.</p>
    <a href="#" class="read-more">Read Full Post</a>
    <div class="full-content">
      <p> Upon your return, scammers will claim your jet ski or scooter has been damaged in some way and that they will keep your items, including your passport, until you agree to pay their fine. 
        Some agencies also keep spare keys for stealing back scooters locked outside tourist sites. You will likely be forced to pay a steep replacement fee, even if you purchased insurance. If you choose to rent jet skis or scooters, be sure to use a reputable company and inspect and document your vehicles for prior damage. It is advised to contact the local Tourist Police at 1155 if this occurs.</p>
    </div>
   </section>


   <section id="etiquette" class="section">
        <h3>Etiquette</h3>
        <h1>Never touch someone's head or hair</h1>
      <img src="/head.jpg" alt="" class="smaller-image">
      <p> this includes playfully ruffling a child's hair. Don't raise your feet above someone's head; </p>
    <a href="#" class="read-more">Read Full Post</a>
    <div class="full-content">
      <p>avoid stepping over people who are sitting or sleeping on the ground. Don't point: Pointing at someone is considered rude in many cultures but particularly so in Thailand.</p>
    </div>


    <h1>Don't point your feet</h1>
        <img src="/feet.jpg" alt="" class="smaller-image">
      <p>Pointing your feet at someone, raising your feet higher than someone's head, or simply putting your feet on a desk or chair are considered extremely rude in Thailand.</p>
    <a href="#" class="read-more">Read Full Post</a>
    <div class="full-content">
      <p>The bottoms of the feet are dirty: don't show them to people! Avoid pointing feet at Buddhas in and outside of temples. When sitting on the ground, try to sit in a way that doesn't show others the bottoms of your feet.</p>
    </div>
    </section>
    
   
    
  </div>
  <script>
  document.addEventListener("DOMContentLoaded", function() {
    const readMoreLinks = document.querySelectorAll(".read-more");
    const fullContents = document.querySelectorAll(".full-content"); 
  
    readMoreLinks.forEach((readMoreLink, index) => {
      readMoreLink.addEventListener("click", function(event) {
        event.preventDefault();
        fullContents[index].style.display = "block";
        readMoreLink.style.display = "none";
      });
    });
  });
  </script>
  </body>





</html>
