<!DOCTYPE html>
<html lang="en">


<head>
    <link href= '/static/style.css' rel='stylesheet' type='text/css' />
  </head>
  <body>
  

    <div class="nav-bar">
        <nav>
            <h2 class="logo">Travel <span>Website</span> </h2>
            <ul>
                <li><a href="/user/home">Home</a></li>
                <li class="dropdown">
                  <a>Country</a>
                  <ul class="dropdown-menu">
                      <li><a href="/user/country/usa">USA</a></li>
                      <li><a href="/user/country/mexico">Mexico</a></li>
                      <li><a href="/user/country/france">France</a></li>
                      <li><a href="/user/country/italy">Italy</a></li>
                      <li><a href="/user/country/china">China</a></li>
                      <li><a href="/user/country/germany">Germany</a></li>
                      <li><a href="/user/country/spain">Spain</a></li>
                      <li><a href="/user/country/turkey">Turkey</a></li>
                      <li><a href="/user/country/thailand">Thailand</a></li>
                      <li><a href="/user/country/UK">UK</a></li>
                  </ul>
              </li>
                <li><a href="/user/games">Games</a></li>
                <li><a href="/user/about">About Us</a></li>
                <li><a href="/user/faq">FAQ</a></li>
           
            </ul>

        </nav>
    </div>

  <div class="container">
    <div class="content">
      <img src="/Turkey.jpg" alt=""class="full-width-image">
      <h2>Turkey</h2>
      <p>Turkey, also called Türkiye, country that occupies a unique geographic position, lying partly in Asia and partly in Europe. Throughout its history it has acted as both a barrier and a bridge between the two continents.</p>
      
      <nav class="anchors">
        <ul>
          <li><a href="#dangerous-wildlife">Dangerous Wild Life</a></li>
          <li><a href="#natural-disasters">Natural Disasters</a></li>
          <li><a href="#tourist-precautions">Tourist Precautions</a></li>
          <li><a href="#etiquette">Etiquette</a></li>
        </ul>
      </nav>
    
    <section id="dangerous-wildlife" class="section">
      <h3>Dangerous Wild Life</h3>


      <h1>Brown bear</h1>
      <img src="/brownbear.jpg" alt="" class="smaller-image">
      <p> Situated on Turkey’s northern stretch of coast, the Black Sea region boasts luscious green forests, tall mountains, and coastal villages. Oh, yea, and it’s home to the country’s largest population of brown bears.</p>
    <a href="#" class="read-more">Read Full Post</a>
    <div class="full-content">
      <p>The Eurasian brown bear certainly looks cute, but be warned: They are among the most dangerous animals in Turkey.Brown bears are the largest land mammals in the country. They can grow between 5 and 8 feet, and weigh up to 700 pounds. Despite their considerable size, brown bears are extremely speedy when running. They’ve been shown to clock up velocities in excess of 30 miles an hour at full tilt!</p>
    </div>


    <h1>Scorpion</h1>
    <img src="/scorpion.jpeg" alt="" class="smaller-image">
    <p> Scorpions are common throughout Turkey. There are around 15 species to look out for – the most prevalent being scorpions from the Buthidae family. These nocturnal animals tend to lurk in small crevices, such as old walls and under logs. </p>
  <a href="#" class="read-more">Read Full Post</a>
  <div class="full-content">
    <p>They have also been known to make homes for themselves in suitcases and pairs of shoes left lying around, so be wary when you pack or pull on your sandals ready to head to the beach. When camping, it’s important to keep your possessions tightly stowed, and check for unwanted critters from time to time. </p>
  </div>

   </section>


   <section id="natural-disasters" class="section">      
  <h3>Natural Disasters</h3>


    <h1>Floods</h1>
    <img src="/floodturkey.jpg" alt="" class="smaller-image">
    <p> Floods are the second most destructive type of natural disaster in Turkey, after earthquakes. Nearly 30 % of all the natural disasters in the country consist of flood events. 34 flood events occurred in Turkey between 1950 and 2007 and 1,016 people died, and about 1.5 million people were affected </p>
  <a href="#" class="read-more">Read Full Post</a>
  <div class="full-content">
    <p>Flash floods associated with intense and prolonged rainstorms are a common phenomenon,especially in coastal parts of Turkey. Flood impacts in Turkey are felt more severely in major cities of the country which suffer from frequent floods as a result of combined effects of intense rainfalls, occupation of flood plains by residential and commercial buildings, high coverage of impervious surfaces, and inadequate drainage. A flash flood prevention program, implemented since 1970, has been successful in reducing the number of annual flash floods. However, a lot of structural and mitigation efforts are still needed especially in urban areas of the country to prevent the occurrences of flash floods and to minimize their impacts</p>
  </div>



  <h1>Earthquakes</h1>
  <img src="/earthquake.jpeg" alt="" class="smaller-image">
  <p> Turkey is one of the most earthquake-prone regions in the world, where thousands of earthquakes occur annually and cause significant damage.
</p>
<a href="#" class="read-more">Read Full Post</a>
<div class="full-content">
  <p>Turkey has experienced 300,000 earthquakes since 2010. Associate professor Bülent Özmen, an earthquake engineering expert at Gazi University, says in the first seven months of 2021 alone, 15,196 earthquakes were recorded, including six around magnitudes of 5.0 and 6.05.
    In Turkey, there are partly large earthquakes with strengths of more than 7.0, which cause damage within a radius of over 100 kilometres. Measured by the size of the country, earthquakes occur above average, but not excessively often.
    </p>
</div>

   </section>


   <section id="tourist-precautions" class="section">
        <h3>Tourist Precautions</h3>


          <h1>The shoe polishing scam</h1>
    <img src="/shoepolish.jpg" alt="" class="smaller-image">
    <p> You will see many older men doing this job for tourists in Istanbul, and when you are taking a walk in the streets of Istanbul, you see an older man polishing or cleaning the shoe, and you think this is it? But no, it may be something fishy.<a href="/user/TurkeyNovel">Click here to go through an example scenario</a></p>
  <a href="#" class="read-more">Read Full Post</a>
  <div class="full-content">
    <p>For example, suppose you saw an older man shining a shoe, and you're walking; he will deliberately throw his brush in your way and make you uncomfortable and make you scream at him, then he will offer you to clean shoes. You might think he is sorry for his actions, but in the end, he will ask you for a significant amount of money for his services. It is a part of different types of money scams. So please stay aware of this kind of person.
    </p>
  </div>

  <h1>Drink scam</h1>
  <img src="/drink.jpg" alt="" class="smaller-image">
  <p> This is probably one of the most famous scams happening in Istanbul with tourists. However, police and many law enforcement agencies are always there to prevent fraud. But if you're are in the streets alone or with a small tourist group, you may be the best target for these scammers.
</p>
<a href="#" class="read-more">Read Full Post</a>
<div class="full-content">
  <p>When you are walking in the street, suddenly one person will appear in front of you and call you "My Friend" though he's not your friend. he will give you nice compliments about your personality. Then he will offer you a drink from Club or Bar. While talking, he will take you inside the bar where you will meet underdressed girls; one of them will come to you at your table, and immediately they will serve you a round of drink. Then, at last, they will serve you a bill that might be hundreds or thousands of dollars. If you refuse, they will force you or escort you to the ATM to make sure you pay them.
</p>
</div>

   </section>


   <section id="etiquette" class="section">
        <h3>Etiquette</h3>

        <h1>Dress and body language</h1>
        <img src="/bodylanguage.webp" alt="" class="smaller-image">
        <p> What is acceptable dress-wise depends very much on which part of the country – or even which part of a city – you are visiting. Overall, though, Turkey is conservative concerning dress.</p>
      <a href="#" class="read-more">Read Full Post</a>
      <div class="full-content">
        <p>Beachwear should be confined to the beach, while strolling shirtless around resort streets is offensive (though plenty of foreign men do it). Revealing clothing like miniskirts and skimpy shorts should be avoided away from heavily touristed areas. Nude sunbathing is not acceptable anywhere, though at any major Mediterranean/Aegean resort discreet topless sunning takes place.</p>
      </div>


      <h1>Meeting and Greeting</h1>
    <img src="/greetings.jpg" alt="" class="smaller-image">
    <p>Shake hands with everyone present--men, women and children--at a business or social meeting.  </p>
  <a href="#" class="read-more">Read Full Post</a>
  <div class="full-content">
    <p>Shake hands with elders first. Shake hands again when leaving.It is common for Turkish men and women to cheek-kiss one another when meeting and parting.</p>
  </div>

    </section>
    
   
    
  </div>
  <script>
  document.addEventListener("DOMContentLoaded", function() {
    const readMoreLinks = document.querySelectorAll(".read-more");
    const fullContents = document.querySelectorAll(".full-content"); 
  
    readMoreLinks.forEach((readMoreLink, index) => {
      readMoreLink.addEventListener("click", function(event) {
        event.preventDefault();
        fullContents[index].style.display = "block";
        readMoreLink.style.display = "none";
      });
    });
  });
  </script>
  </body>





</html>
