<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="/static/story-button.css">

   
    

</head>
<body>
    <div class="nav-bar">
        <nav>
            <h2 class="logo">Travel <span>Website</span> </h2>
            <ul>
                    <li><a href="/user/home">Home</a></li>
                    <li class="dropdown">
                        <a>Country</a>
                        <ul class="dropdown-menu">
                            <li><a href="/user/country/usa">USA</a></li>
                            <li><a href="/user/country/mexico">Mexico</a></li>
                            <li><a href="/user/country/france">France</a></li>
                            <li><a href="/user/country/italy">Italy</a></li>
                            <li><a href="/user/country/china">China</a></li>
                            <li><a href="/user/country/germany">Germany</a></li>
                            <li><a href="/user/country/spain">Spain</a></li>
                            <li><a href="/user/country/turkey">Turkey</a></li>
                            <li><a href="/user/country/thailand">Thailand</a></li>
                            <li><a href="/user/country/UK">UK</a></li>
                        </ul>
                    </li>
                    <li><a href="/user/home2">Stories</a></li>
                    <li><a href="/user/games">Games</a></li>
                    <li><a href="/user/about">About Us</a></li>
                    <li><a href="/user/faq">FAQ</a></li>
                   
            </ul>

        </nav>
    </div>
    <div class="opening">
        <h1>Story Sharing Page</h1>
        <p>Welcome to the sharing page, feel free to share your experience of visiting these country below. You can read others experience as well 
            so that you can be ready to travel without worry. 
        </p>
    </div>
    <div class="grid-container">
        <div class="grid-item">
            <form class="grid-item2" action="generate-page" method="get">
                <img src="../img/China.jpg" alt="" />
                <p class="title">China</p>
                <div class="overlay"></div>
                <div class="button"><button type="submit" name="button" value="China" >Read and Share</button></div>
            </form>
        </div>
    
        <div class="grid-item">
            <form class="grid-item2" action="generate-page" method="get">
                <img src="../img/Spain.jpg" alt="" />
                <p class="title">Spain</p>
                <div class="overlay"></div>
                <div class="button"><button type="submit" name="button" value="Spain" >Read and Share</button></div>
            </form>
        </div>
    
        <div class="grid-item">
            <form class="grid-item2" action="generate-page" method="get">
                <img src="../img/Italy.jpg" alt="" />
                <p class="title">Italy</p>
                <div class="overlay"></div>
                <div class="button"><button type="submit" name="button" value="Italy" >Read and Share</button></div>
            </form>
        </div>
    
        <div class="grid-item">
            <form class="grid-item2" action="generate-page" method="get">
                <img src="../img/Turkey.jpg" alt="" />
                <p class="title">Turkey</p>
                <div class="overlay"></div>
                <div class="button"><button type="submit" name="button" value="Turkey" >Read and Share</button></div>
            </form>
        </div>
    
        <div class="grid-item">
            <form class="grid-item2" action="generate-page" method="get">
                <img src="../img/Mexico.jpg" alt="" />
                <p class="title">Mexico</p>
                <div class="overlay"></div>
                <div class="button"><button type="submit" name="button" value="Mexico" >Read and Share</button></div>
            </form>
        </div>
        <div class="grid-item">
            <form class="grid-item2" action="generate-page" method="get">
                <img src="../img/thailand.jpg" alt="" />
                <p class="title">Thailand</p>
                <div class="overlay"></div>
                <div class="button"><button type="submit" name="button" value="Thailand" >Read and Share</button></div>
            </form>
        </div>
        <div class="grid-item">
            <form class="grid-item2" action="generate-page" method="get">
                <img src="../img/United States.jpg" alt="" />
                <p class="title">United States</p>
                <div class="overlay"></div>
                <div class="button"><button type="submit" name="button" value="United States" >Read and Share</button></div>
            </form>
        </div>
        <div class="grid-item">
            <form class="grid-item2" action="generate-page" method="get">
                <img src="../img/United Kingdom.jpg" alt="" />
                <p class="title">United Kingdom</p>
                <div class="overlay"></div>
                <div class="button"><button type="submit" name="button" value="United Kingdom" >Read and Share</button></div>
            </form>
        </div>

        <div class="grid-item">
            <form class="grid-item2" action="generate-page" method="get">
                <img src="../img/France.jpg" alt="" />
                <p class="title">France</p>
                <div class="overlay"></div>
                <div class="button"><button type="submit" name="button" value="France" >Read and Share</button></div>
            </form>
        </div>

        <div class="grid-item">
            <form class="grid-item2" action="generate-page" method="get">
                <img src="../img/Germany.jpg" alt="" />
                <p class="title">Germany</p>
                <div class="overlay"></div>
                <div class="button"><button type="submit" name="button" value="Germany" >Read and Share</button></div>
            </form>
        </div>
    </div>   
    
   



    


    
</body>



</html>