body{
    font-family: Arial, sans-serif;
}

.top-img{
    width: 600px; /* Adjust the width as needed */
    height: auto;
    display: block;
    margin: 0 auto;
    text-align: center;
}

.story-button{
    display: flex;
    justify-content: right;
    margin-right: 50px ;
    margin-bottom: 50px;
}

.create-story-button {
    left: 50%;
    top: 50%;
    background: #000000;
    color: #ffffff;
    width: 150px;
    height: 50px;
    border: 0;
    font-size: 15px;
    border-radius: 30px;
    font-family: Arial, sans-serif;
    transition: .6s;
    overflow: hidden;
}

.create-story-button:focus {
    outline: 0;
}

.create-story-button:before {
 
    display: block;
    position: absolute;
    background: rgba(255, 255, 255, 0.5);
    width: 60px;
    height: 100%;
    left: 0;
    top: 0;
    opacity: 0.5;
    filter: blur(30px);
   
}

.create-story-button:hover {
    color: #000000;
    background: #fffbd5;
    cursor: pointer;
    transition: 0.7s;    
}

.create-story-button:hover:before {
   
    opacity: 0.6;
    transition: 0.7s;
}

.create-story-button:hover:after {

    opacity: 1;
    transition: 0.7s;
}

.story-container{
    list-style: none;
   
    
}

.story-content{
    padding-bottom: 10px;
    margin-bottom: 10px;
    margin-left: 50px;
    margin-right: 50px;
}
.title{
    font-size: 18px;
}
.story-body {
    height: 300px;
    overflow-wrap: break-word;
    border-style: solid;
    border-radius: 5px;
    padding: 10px;
}

.input-form {
    margin-top: 50px;
    display: flex;
    flex-direction: column; /* Change from "row" to "column" to stack elements vertically */
    max-width: 300px; /* Adjust the maximum width as needed */
    margin-left: 150px 
}

.input-form form {
    display: flex;
    flex-direction: column; /* Stack form elements vertically */
}

.input-form label {
    margin-bottom: 5px; /* Add spacing between labels and inputs */
}

.input-form input {
    padding: 5px;
    margin-bottom: 10px; /* Add spacing between input fields */
}

.input-form button {
    background-color: #000000;
    color: #ffffff;
    padding: 10px;
    border-radius: 10px;
    border-style: none;
    transition: background-color 0.35s ease-in-out;
}
.input-form button:hover{
    
    background-color: #eeebeb;
    color: #000000;
    border-color: #ffffff;
    border-style: none;
    transition: background-color 0.35s ease-in-out;

  } 

.input-form textarea{
    margin-bottom: 10px;
    resize: none;
}
.input-form{
    margin-bottom: 50px;
}
.decor img{
    width: 50%; /* Set the width to cover half of the page */
    height: 80%;
    position: absolute;
    top: 200px;
    left:500px;
    object-fit: contain;
    background-color: rgb(2, 2, 2); /* Replace 'yourColor' with your desired color code */
  
}