body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0; /* Reset padding to 0 */
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
  }
  
  .content {
    max-width: 800px;
    padding: 20px;
    text-align: center;
  }
  
  
  .section {
    text-align: left; /* Align section content to the left */
    margin-top: 40px;
  }
  
  h2 {
    font-size: 28px;
    margin-bottom: 10px;
  }
  
  p {
    font-size: 16px;
    line-height: 1.5;
  }
  
  .anchors ul {
    list-style: none;
    padding: 0;
  }
  
  .anchors li {
    margin-bottom: 5px;
  }
  
  .section {
    margin-top: 40px;
  }
  
  h3 {
    font-size: 24px;
  }
  
  img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
  }
  
  a {
    color: #007bff;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  .full-width-image {
    width: 100%; /* Set the width to 100% to span the screen */
    height: auto; /* Maintain the aspect ratio */
    max-height: calc(100vh - 100px); /* Set a maximum height to keep it within the viewport */
  }
  
  .smaller-image {
    width: 300px; /* Adjust the width as needed */
    height: auto;
    display: block;
    margin: 0 auto;
  }
  
  .full-content {
    display: none; /* Initially hide the full content */
  }
  
  .read-more {
    color: #007bff;
    text-decoration: none;
  }
  
  .read-more:hover {
    text-decoration: underline;
    cursor: pointer;
  }
  
  
  nav{
      position:sticky;
      display: flex;
      align-items: center;
      justify-content: center;
      padding-top: 40px;
      padding-left: 10%;
      padding-right: 10%;
      z-index: 999;
  }
  
  .logo{
      color: black;
      font-size: 28px;
  }
  
  nav ul li{
      list-style-type: none;
      display: inline-block;
      padding: 11px 20px;
  }
  
  nav ul li a{
      color: black;
      text-decoration: none;
      font-weight: bold;
  }
  nav ul li a:hover{
      color: #ea1538;
      transition: .3s;
  }
  nav ul li a.clicked {
      color: #ea1538;
  }
  
  .sign-up{
      border: none;
      background: white;
      padding: 12px 30px;
      border-radius: 30px;
      color: black;
      font-weight: bold;
      font-size: 15px;
      transition: .4s;
  }
  .login{
      border: none;
      background: black;
      padding: 12px 30px;
      border-radius: 30px;
      color: white;
      font-weight: bold;
      font-size: 15px;
      transition: .4s;
  }
  
  .dropdown {
    position: relative;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%; 
    left: 0;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    width: auto;
    z-index: 1;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-menu li {
    padding: 5px 0;
}

.dropdown-menu a {
    color: black;
    text-decoration: none;
    font-weight: bold;
    display: block; 
}

.dropdown-menu a:hover {
    color: #ea1538;
}

.highlight {
  background-color: yellow;
}

.faq-container {
  text-align: center;
}

